extends layout

block layout-content
    script.
        var userEmail = '#{userProfile.displayName}';
        var isAuthenticated = '#{isAuthenticated}';
        var token = '#{userToken}';
        var clientId = '#{clientId}';
        var apiEndpoint = '#{apiEndpoint}';

    head
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-Bx4pytHkyTDy3aJKjGkGoHPt3tvv6zlwwjc3iqN7ktaiEMLDPqLSZYts2OjKcBx1" crossorigin="anonymous")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.min.css")
        link(href="/stylesheets/site.css" rel="stylesheet" asp-append-version="true")
        link(href="/stylesheets/jquery-ui.css" rel="stylesheet")

        body.layout
            nav(role="navigation" class="nav")
                ul(class="nav-items col-1")
                    li(class="nav-item")
                        a(href="/" class="nav-link pagelink")
                            div(class="col-12")
                                img(src="/images/PerrySupply.png" width="100" height="80" alt="" value="Perry Freight Tracking")
                ul(class="nav-items col-8" id="setNavItemsHere")
                ul(class="nav-items col-3")
                    li(class="nav-item")
                        a(class="nav-link pagelink user-profile-nav-item" style="float:right" asp-controller="UserDynamic" asp-action="80de14e4-3e39-47e9-8ff2-01af77c9bae9")
                        span(class="" id="userName") 
                        | #{userProfile.displayName}
                        span  - Perry Supply Freight Tracking System
                    input(id="userId" type="hidden" value="")
                    input(id="bol" type="hidden" value="")
                    input(id="containerId" type="hidden" value="")
                    input(id="id" type="hidden" value="")
                    input(id="formId" type="hidden" value="")
            div(id="loadingTitle" padding="15px")
        footer
        script(src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous")
        script(src="/javascripts/dts.autocompleter.search.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery-autocomplete/1.0.7/jquery.auto-complete.min.js")
        script(src="/javascripts/dts-things-1-0-12.js")
        script(src="/javascripts/AuthorizeUser.js")
        script(src="/javascripts/jquery-ui.min.js")
        script(src="/javascripts/dts.tableHelpers.js")
        script(src="/javascripts/dts.favorites.js")
        script(src="/javascripts/dts.customFormResults.js")
        script(src="/javascripts/site.js")
        script(src="/javascripts/pako.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.28.0/moment.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js")
        script(src="https://vitalets.github.io/bootstrap-datepicker/bootstrap-datepicker/js/bootstrap-datepicker.js")
            