extends layout

block layout-content


  body
    if isAuthenticated
      script.
      
        var isAuthenticated = '#{isAuthenticated}';

    else
      div.View.WelcomeView
        div.LogoBanner
          img(src="/images/PerrySupply.png")
          br 
          br 
        div
          div.Message
            div.Title
              h1.display-2 Welcome to PFT
              h2 Perry Supply's Freight Tracking Project
              br
              br
              img(src="/images/Eplus_logo_small.png")
              p.lead Powered By EPlus
              hr.my-4
        div.NavButtons
          if isAuthenticated
            a(href="/user")
              div.NavButton Just dive in!
          else
            a(href="/login")
              div.NavButton Log in