block variables
doctype html
html
  head
    meta(charset="utf-8")
    link(rel="shortcut icon", href="/images/perrylogosmall.gif")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="theme-color", content="#000000")
    title #{title} | Perry Freight Tracking
    link(rel="stylesheet" type="text/css" href="/stylesheets/style.css")
  body
    div#root
      block layout-content