﻿
#generatePDF

{
    margin-bottom: 10px;
}

#loadSpinner {
    margin-bottom: 70vh;
}

table {
    table-layout: fixed;
}

td {
    word-wrap: break-word;
}

.card {
    margin-bottom: 1.2rem;
}

.card-body {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}

#saveButton {
    margin-bottom: 1.2rem;
}

@media screen and (max-width: 992px) {
    #AssetTypelabel {
        margin-bottom: 28px;
    }
}
