body {
  padding-top: 40px;
  padding-bottom: 20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */

input[type=submit] {
  max-width: 100%;
}
/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}
/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}
.clickable {
  cursor: pointer;
}
.user-profile-nav-item {
  padding: 0 .5rem;
}
.user-profile-nav-item img {
  width: 2.7em;
}
.field-validation-error {
  color: #BB3333;
}
.typeahead-loading {
  float: right;
  /*margin-right: 10px;*/
  /*margin-top: -25px;*/
  /*position: relative;*/
    position: absolute;
    top: 3px;
    right: 20px;
  z-index: 1000;
}
.autocomplete-suggestion {
  cursor: pointer;
  padding: .4em .6em;
}
.sub-navigation {
  background-color: #F2F2F2;
  margin-left: -15px;
}
.sub-navigation .nav-link {
  white-space: nowrap;
}
.main-body {
  width: 100%;
}
.gray-out {
  opacity: 0.3;
}

.gray-out-light {
    opacity: 0.6;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}
.small-container {
  font-size: .8em;
}
.small-container .form-group {
  margin-bottom: .25rem;
}
.small-container .form-group .form-control {
  padding: 0.2rem 0.4rem;
  font-size: .8rem;
}
.small-container .form-group select.form-control:not([size]):not([multiple]) {
  height: auto;
}
.small-container .card .card-header {
  padding: .5rem 1rem;
}
.small-container .card .card-block {
  padding: .75rem;
}
.small-container .table th,
.small-container .table td {
  padding: .1rem .25rem;
  white-space: nowrap;
  max-width: 250px;
  font-size: .9em;
  overflow: hidden;
}
.small-container .col-1,
.small-container .col-2,
.small-container .col-3,
.small-container .col-4,
.small-container .col-5,
.small-container .col-6,
.small-container .col-7,
.small-container .col-8,
.small-container .col-9,
.small-container .col-10,
.small-container .col-11,
.small-container .col-12,
.small-container .col,
.small-container .col-sm-1,
.small-container .col-sm-2,
.small-container .col-sm-3,
.small-container .col-sm-4,
.small-container .col-sm-5,
.small-container .col-sm-6,
.small-container .col-sm-7,
.small-container .col-sm-8,
.small-container .col-sm-9,
.small-container .col-sm-10,
.small-container .col-sm-11,
.small-container .col-sm-12,
.small-container .col-sm,
.small-container .col-md-1,
.small-container .col-md-2,
.small-container .col-md-3,
.small-container .col-md-4,
.small-container .col-md-5,
.small-container .col-md-6,
.small-container .col-md-7,
.small-container .col-md-8,
.small-container .col-md-9,
.small-container .col-md-10,
.small-container .col-md-11,
.small-container .col-md-12,
.small-container .col-md,
.small-container .col-lg-1,
.small-container .col-lg-2,
.small-container .col-lg-3,
.small-container .col-lg-4,
.small-container .col-lg-5,
.small-container .col-lg-6,
.small-container .col-lg-7,
.small-container .col-lg-8,
.small-container .col-lg-9,
.small-container .col-lg-10,
.small-container .col-lg-11,
.small-container .col-lg-12,
.small-container .col-lg,
.small-container .col-xl-1,
.small-container .col-xl-2,
.small-container .col-xl-3,
.small-container .col-xl-4,
.small-container .col-xl-5,
.small-container .col-xl-6,
.small-container .col-xl-7,
.small-container .col-xl-8,
.small-container .col-xl-9,
.small-container .col-xl-10,
.small-container .col-xl-11,
.small-container .col-xl-12,
.small-container .col-xl {
  padding-left: .5em;
  padding-right: .5em;
}
.small-container .row {
  margin-left: -0.5em;
  margin-right: -0.5em;
}
span.fc-title {
  color: #fff;
}
.ui-draggable-dragging {
  z-index: 999;
  background-color: #3a87ad;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  border-radius: 3px;
  padding: 2px 5px;
}
.fc-unthemed td.fc-state-highlight {
  background-color: #fce3f8;
}
.favorite-icon.fa-star {
  color: #ccac00;
}

.dropzone {
    border: 2px dashed #336699;
    border-radius: 3px;
    background-color: #eee;
}

table.dataTable thead tr th.fa-expand:before {
    content: '';
}

.table input.form-control,
.table select.form-control{
    width: auto;
}

.table thead tr.bg-info {
    color: #fff;
}

.table tbody tr td section.custom-form {
    filter: brightness(95%);
    border: 1px solid #BBB;
    border-radius: 3px;
    padding-left: 25px;
}
/*TODO: find a way to make this recursive*/
.custom-search-container table.table tbody tr td section.custom-form thead tr {
        background-color: #757575;
    }
.custom-search-container table.table tbody tr td section.custom-form .table tbody tr td section.custom-form thead tr{
        background-color: #929292;
    }

.custom-search-container table thead tr {
    background-color: #555;
    color: #fff;
}

.custom-search-container input,
.custom-serach-container textarea,
.custom-search-container td{
    font-weight: bold;
}


h5.child-from-header {
    margin: 10px;
}

.custom-search-page h5.child-from-header {
    display: none;
}

.custom-form .add-custom-row {
    float: right;
    margin: .3em 1em;
    color: #282;
    cursor: pointer;
}

.custom-form .delete-custom-row {
    margin: .3em 1em .3em .25em;
    color: #822;
    cursor: pointer;
}

.custom-form .custom-row-actions {
    white-space: nowrap;
}

section.custom-form tbody tr.dummy-row input,
section.custom-form tbody tr.dummy-row select,
section.custom-form tbody tr.dummy-row textarea,
section.custom-form tbody tr.dummy-row .fa-expand,
section.custom-form tbody tr.dummy-row .fa-times-circle,
section.custom-form tbody tr.dummy-row .radio-text{
    display: none;
}

.loading:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 900ms infinite;
    animation: ellipsis steps(4,end) 900ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
}

.main-nav {
    background-color: #fff;
}

.highlightBackground {
    background-color: yellow;
}

.highlightGreen {
    background-color: lightgreen;
}

span.orange {
    color: orange;
}

.peachBackground {
    background-color: #FFC56B;
}

.blueBackground {
    background-color: #84D2FF;
}

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: #4aadef;
}

.grey {
    color: grey;
}

.infoText {
    cursor: help;
}

label {
    font-weight: bold;
}

.hidden {
    display: none;
}

.stitched {
    padding: 20px;
    margin: 10px;
    border: 2px dashed grey;
    border-radius: 10px;
}

.numberCircle {
    display: inline-block;
    line-height: 0px;
    background-color: grey;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    border: 2px solid;
    font-size: 12px;
}

.numberCircle span {
    display:inline-block;

    padding-top:40%;
    padding-bottom:40%;

    margin-left:8px;
    margin-right:8px;
}

.autocomplete-search-button {
    display: none;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
    color: #468847;
    background-color: #DFF0D8;
    border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
div.parsley-error,
textarea.parsley-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border: 1px solid #EED3D7;
}

.parsley-errors-list {
    margin: 2px 0 3px;
    padding: 0;
    list-style-type: none;
    font-size: 0.9em;
    line-height: 0.9em;
    opacity: 0;
    background-color: #ffffff;
    color: #ff0000;
    transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
    opacity: 1;
}

@keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 1.25em;    
    }
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
    display: none;
  }
  .sub-navigation {
    display: none;
  }
}

/*for desktops*/
@media screen and (min-width: 767px) {
    #assetNavigator #treeControl {
        overflow: auto;
        max-height: 80vh;
    }
}

span.multiselect-native-select {
    position: relative
}

    span.multiselect-native-select select {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px -1px -1px -3px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important;
        left: 50%;
        top: 30px
    }

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}

    .multiselect-container .input-group {
        margin: 5px
    }

    .multiselect-container > li {
        padding: 0
    }

        .multiselect-container > li > a.multiselect-all label {
            font-weight: 700
        }

        .multiselect-container > li.multiselect-group label {
            margin: 0;
            padding: 3px 20px 3px 20px;
            height: 100%;
            font-weight: 700
        }

        .multiselect-container > li.multiselect-group-clickable label {
            cursor: pointer
        }

        .multiselect-container > li > a {
            padding: 0
        }

            .multiselect-container > li > a > label {
                margin: 0;
                height: 100%;
                cursor: pointer;
                font-weight: 400;
                padding: 3px 20px 3px 40px
            }

                .multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
                    margin: 0
                }

                .multiselect-container > li > a > label > input[type=checkbox] {
                    margin-bottom: 5px
                }

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}

.nav {
    /*width: 550px;*/
    width: 100%;
    /*margin: 100px auto 0 auto;*/
    text-align: left;
}

/* Navigation */

.nav {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.nav-items {
    padding: 0;
    list-style: none;
}

.nav-item {
    display: inline-block;
    margin-right: 25px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active,
.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    display: block;
    position: relative;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    text-decoration: none;
    outline: none;
}

    .nav-link,
    .nav-link:link,
    .nav-link:visited,
    .nav-link:active {
        color: #001729;
        font-weight: bold;
    }

        .nav-link::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 3px;
            background: rgba(0,0,0,0.2);
            opacity: 0;
            -webkit-transform: translate(0, 10px);
            transform: translate(0, 10px);
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .nav-link:hover::before,
        .nav-link:hover::before {
            opacity: 1;
            -webkit-transform: translate(0, 5px);
            transform: translate(0, 5px);
        }

.dropdown {
    position: relative;
}

    .dropdown .nav-link {
        padding-right: 15px;
        height: 17px;
        line-height: 17px;
    }

        .dropdown .nav-link::after {
            content: "";
            position: absolute;
            top: 6px;
            right: 0;
            border: 5px solid transparent;
            border-top-color: #3a87ad;
        }

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1000;
    width: 200px;
    margin-left: -65px;
    background: #fff;
    border-radius: 3px;
    line-height: 1.46667;
    margin-top: -5px;
    box-shadow: 0 0 8px rgba(0,0,0,.3);
    /*opacity: 0;*/
    -webkit-transform: translate(0, 0) scale(.85);
    transform: translate(0, 0)scale(.85);
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
    pointer-events: none;
}

    .submenu::after,
    .submenu::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -10px;
        border: 10px solid transparent;
        height: 0;
    }

    .submenu::after {
        border-bottom-color: #3a87ad;
    }

    .submenu::before {
        margin-left: -13px;
        border: 13px solid transparent;
        border-bottom-color: rgba(0,0,0,.1);
        -webkit-filter: blur(1px);
        filter: blur(1px);
    }

.submenu-items {
    list-style: none;
    padding: 10px 0;
}

.submenu-item {
    display: block;
    text-align: left;
}

.submenu-link,
.submenu-link:link,
.submenu-link:visited,
.submenu-link:active {
    color: #3498db;
    padding: 10px 20px;
}

    .submenu-link:hover {
        text-decoration: underline;
    }

.submenu-seperator {
    height: 0;
    margin: 12px 10px;
    border-top: 1px solid #eee;
}

.show-submenu .submenu {
    /*opacity: 1;*/
    display: block;
    -webkit-transform: translate(0, 25px) scale(1);
    transform: translate(0, 25px) scale(1);
    pointer-events: auto;
}

.bigCheckbox {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
.bigCheckbox:checked {
    background: #abd;
}

/*RQ style  adds*/ 
/*main container input _Layout*/
.body-content {
    /*background-color: #cecebb;*/
    background-color: #dfdfd9;
    padding-top: 1.5rem;
    min-width: 100vw;
    min-height: 50vh;
    padding-bottom: 12px;
}

.body {
    background-color: white;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -.5rem;
    margin-left: 6rem;
    margin-right: 6rem;
    padding-top: 22px;
    box-shadow: 0 0 12px #999;
    min-height: 50vh;
}

#header {
    font-size: 2.2rem;
    padding-top: .75rem;
    padding-bottom: .95rem;
    background-color: #0054A4;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 35px;
    width: 100vw;
    color: white;
    margin-top: -3.1rem;
}

#documentNavigator {
    background-color: white;
    margin-left: 65px;
    margin-right: 65px;
    margin-top: -.5rem;
    padding-top: 22px;
    height: 95%;
    box-shadow: 0 0 12px #999;
}


#documentDescription {
    width: 100%
}

#wideCell {
    width: 52%;
}

/*Icon Colors*/
.fa-bolt {
    color: #FDD254;
}

.fa-object-group {
    color: #6D9CB8;
}

.fa-chart-network {
    color: #949282;
}

.fa-sliders-v-square {
    color: #973EA1;
}

.kpiCardSpacing {
    margin-bottom: 30px;
}

.jctkr-wrapper,
.jctkr-wrapper * {
    box-sizing: border-box;
}

.jctkr-wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 35px;
    vertical-align: top;
    overflow: hidden;
}

    .jctkr-wrapper ul {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;
        font-size: 0;
        opacity: 0;
        -webkit-transition: opacity 1s;
        transition: opacity 1s;
    }

    .jctkr-wrapper.jctkr-initialized ul {
        opacity: 1;
    }

    .jctkr-wrapper ul li {
        display: inline-block;
        font-family: sans-serif;
        font-size: 16px;
    }

.jctkr-label {
    display: inline-block;
}

.container {
    max-width: 100%;
    margin-left: 0;
}

#conveyorTicker {
    margin: 8px 0 12px 8px;   
}

.activeItemRequired {
    display: inline-block; 
    width: 145px; 
    height: 75px; 
    text-align: center; 
    margin: 8px; 
    padding: 5px; 
    background: white; 
    vertical-align: top; 
    border: 2px solid #C6525D; 
    box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.15), 0 5px 4px 0 rgba(0, 0, 0, 0.3);
}

.kpiNotRequired {
    display: inline-block;
    width: 145px;
    height: 75px;
    text-align: center;
    margin: 8px;
    padding: 5px;
    background: white;
    vertical-align: top;
    border: 1px solid #CCB5A5;
    box-shadow: 2px 4px 3px 0 rgba(0, 0, 0, 0.15), 0 5px 4px 0 rgba(0, 0, 0, 0.3)
}

@media screen and (max-width: 992px) {
    .body {
        background-color: white;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: -.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        padding-top: 22px;
        height: 95%;
        box-shadow: 0 0 12px #999;
        min-height: 50vh;
    }
}

@media (min-width: 1450px) {
    .body {
        margin-left: 0rem;
        margin-right: 0rem;
    }
    #header{
        padding-left: 5rem;
    }
}